// ========================================================================================================================================================
// Menu
.menu {
	&__body {
		@media (max-width: $mobile) {
			width: 100%;
			top: toRem(0);
			left: 100%;
			height: 100%;
			overflow: auto;
			position: fixed;
			padding-top: toRem(95);
			padding-left: toRem(15);
			padding-right: toRem(15);
			padding-bottom: toRem(30);
			transition: left 0.5s ease 0s;
			background-color: $neutral90Color;
			&::before {
				z-index: 3;
				left: 100%;
				content: "";
				width: 100%;
				top: toRem(0);
				position: fixed;
				height: toRem(76);
				transition: left 0.5s ease 0s;
				background-color: $neutral100Color;
				border-bottom: toRem(1) solid $neutral80Color;
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}

	&__list {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 48, 30, 0, $containerWidth, 991.98);
		@media (max-width: $mobile) {
			align-items: start;
			flex-direction: column;
		}
	}

	&__item {
		position: relative;
		&:nth-child(2) {
			.menu__link {
				&::after {
					display: none;
				}
			}
		}
		&::before {
			@extend %ic;
		}
		@media (any-hover: hover) {
			&:hover {
				.menu__option {
					opacity: 1;
					visibility: visible;
				}
				.menu__link {
					color: $primary100Color;
					&::before {
						transform: rotate(-180deg) translateY(toRem(-2));
					}
				}
			}
		}
		@media (max-width: toEm(1025.98)) {
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5) {
				display: none;
			}
		}
		@media (max-width: $mobile) {
			width: 100%;
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5) {
				display: flex;
			}
			&:nth-child(2) {
				.menu__link {
					&::after {
						display: block;
					}
				}
			}
		}
	}

	&__link {
		gap: toRem(8);
		display: flex;
		font-weight: 500;
		position: relative;
		align-items: center;
		justify-content: flex-end;
		flex-direction: row-reverse;
		transition: color 0.3s ease 0s;
		&::before {
			transform: translateY(toRem(2));
			transition: transform 0.3s ease 0s;
		}
		&::after {
			content: "";
			@extend %ic;
		}
		@media (min-width: $mobile) {
			@media (any-hover: hover) {
				&:hover {
					color: $primary100Color;
					&::after {
						width: 100%;
					}
				}
			}
			&::after {
				width: 0;
				left: toRem(0);
				right: toRem(0);
				height: toRem(4);
				bottom: toRem(-41);
				position: absolute;
				margin: toRem(0) auto;
				border-radius: toRem(10);
				transition: width 0.3s ease 0s;
				background-color: $primary100Color;
			}
		}
		@media (max-width: $mobile) {
			width: 100%;
			flex-direction: row;
			font-size: toRem(20);
			justify-content: space-between;
			&::before {
				display: none;
			}
			&::after {
				content: "\e904";
				transform: rotate(-90deg);
			}
		}
	}

	&__more {
	}

	&__option {
		opacity: 0;
		top: toRem(25);
		left: toRem(0);
		visibility: hidden;
		position: absolute;
		white-space: nowrap;
		display: inline-block;
		border-radius: toRem(3);
		color: $neutral100Color;
		padding: toRem(10) toRem(12);
		background-color: $neutral10Color;
		transition:
			opacity 0.5s ease 0s,
			visibility 0.5s ease 0s;
		box-shadow:
			rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
			rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
		@media (max-width: $mobile) {
			display: none;
		}
	}

	&__list-opt {
		display: grid;
		gap: toRem(10);
	}

	&__item-opt {
	}

	&__link-opt {
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $primary100Color;
			}
		}
	}
}
// Burger
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		z-index: 5;
		display: block;
		width: toRem(30);
		height: toRem(18);
		position: relative;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			right: 0;
			width: 100%;
			content: "";
			height: toRem(2);
			position: absolute;
			border-radius: toRem(10);
			transition: all 0.3s ease 0s;
			background-color: $neutral50Color;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
// ========================================================================================================================================================
