@font-face {
	font-family: BeVietnam;
	font-display: swap;
	src: url("../fonts/BeVietnam-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: BeVietnam;
	font-display: swap;
	src: url("../fonts/BeVietnam-ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: GeneralSans;
	font-display: swap;
	src: url("../fonts/GeneralSans-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
