//========================================================================================================================================================
// Footer
.footer {
	overflow: hidden;
	position: relative;
	background-color: $neutral100Color;
	border-radius: toRem(24) toRem(24) toRem(0) toRem(0);
	@include adaptiveValue("margin-top", 100, 40);
	@include adaptiveValue("padding-top", 100, 40);
	&::before {
		content: "";
		height: 100%;
		right: toRem(0);
		top: toRem(-270);
		left: toRem(-130);
		width: toRem(1910);
		position: absolute;
		margin: toRem(0) auto;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url("@img/landing-pages/decore.svg");
	}
	@media (max-width: $mobile) {
		border-radius: toRem(16) toRem(16) toRem(0) toRem(0);
		&::before {
			opacity: 0.7;
		}
	}
	&__container-min {
		position: relative;
	}

	&__headed {
		max-width: toRem(950);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 120, 40);
		}
	}

	&__logo {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 120, 40);
		}
	}

	&__main {
	}

	&__bottom {
	}
}
.logo-footer {
	display: grid;
	row-gap: toRem(15);
	grid-template-columns: repeat(auto-fit, minmax(toRem(230), 1fr));
	@media (max-width: $mobile) {
		grid-template-columns: repeat(3, 1fr);
	}
	&__svg {
		width: 100%;
		max-height: toRem(40);
		@include adaptiveValue("padding-left", 40, 5, 0, $containerWidth, 479.98);
		@include adaptiveValue("padding-right", 40, 5, 0, $containerWidth, 479.98);
	}
}
.main-footer {
	display: grid;
	gap: toRem(24);
	align-items: start;
	color: $neutral10Color;
	padding-bottom: toRem(48);
	@media (min-width: $mobile) {
		justify-content: space-between;
		grid-template-columns: 32.352941% auto;
	}
	@media (max-width: $mobile) {
		padding-bottom: toRem(18);
	}
	&__info {
		display: grid;
		max-width: toRem(385);
		@include adaptiveValue("gap", 32, 18);
		@media (max-width: $mobile) {
			text-align: center;
			margin: toRem(0) auto;
			justify-items: center;
		}
	}

	&__logo {
		display: flex;
		gap: toRem(8);
		font-weight: 800;
		align-items: end;
		line-height: 150%;
		height: toRem(40);
		font-size: toRem(32);
		font-family: $fontFamilyThird;
		&::before {
			font-size: toRem(40);
			padding-bottom: toRem(6);
		}
		@media (max-width: $mobileSmall) {
			gap: toRem(5);
			font-size: toRem(18);
			&::before {
				font-size: toRem(22);
				padding-bottom: toRem(4);
			}
		}
	}

	&__text {
		color: $neutral40Color;
	}

	&__spollers {
		display: flex;
		@include adaptiveValue("gap", 64, 20, 0, $containerWidth, 767.98);
		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}

	&__item {
		@media (max-width: $mobile) {
			padding-bottom: toRem(20);
			&:not(:last-child) {
				border-bottom: toRem(1) solid $neutral80Color;
			}
		}
	}

	&__title {
		font-weight: 600;
		line-height: 135%;
		@include adaptiveValue("font-size", 18, 16);
		@media (max-width: $mobile) {
			._spoller-init & {
				position: relative;
				width: 100%;
				text-align: left;
				&::before,
				&::after {
					content: "";
					position: absolute;
					right: 0;
					top: toRem(12);
					height: toRem(1);
					transition: all 0.3s ease 0s;
					width: toRem(10);
					background-color: $neutral10Color;
				}
				&::before {
					transform: rotate(40deg);
					right: toRem(7);
				}
				&::after {
					transform: rotate(-40deg);
				}
			}
			&._spoller-active {
				&::before {
					transform: rotate(-40deg);
				}
				&::after {
					transform: rotate(40deg);
				}
			}
		}
	}

	&__list {
		display: grid;
		gap: toRem(12);
		margin-top: toRem(16);
	}

	&__li {
	}

	&__link {
		color: $neutral40Color;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $warning100Color;
			}
		}
	}
}
.bottom-footer {
	border-top: toRem(1) solid $neutral70Color;
	@include adaptiveValue("padding-top", 32, 18);
	@include adaptiveValue("padding-bottom", 32, 18);
	&__container-min {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: $mobileSmall) {
			row-gap: toRem(15);
			flex-direction: column;
		}
	}

	&__copy {
		line-height: 155%;
		font-size: toRem(14);
		color: $neutral40Color;
	}

	&__socials {
	}
}
//========================================================================================================================================================
