@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,500,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inter:500,600&display=swap);

// Підключити, якщо є локальні файли шрифтів
@import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "Plus Jakarta Sans";
$fontFamilySecond: "GeneralSans";
$fontFamilyThird: "BeVietnam";

$fontSize: toRem(16); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори Primary
$primary20Color: #ebf9f6; // Колір шрифту за замовчуванням
$primary40Color: #d6f2ed; // Колір шрифту за замовчуванням
$primary60Color: #ade4da; // Колір шрифту за замовчуванням
$primary80Color: #84d7c8; // Колір шрифту за замовчуванням
$primary100Color: #32bca3; // Колір шрифту за замовчуванням

// Основні кольори Neutral
$neutral10Color: #ffffff; // Колір шрифту за замовчуванням
$neutral20Color: #f9f9f9; // Колір шрифту за замовчуванням
$neutral30Color: #ededed; // Колір шрифту за замовчуванням
$neutral40Color: #e0e0e0; // Колір шрифту за замовчуванням
$neutral50Color: #d3d3d3; // Колір шрифту за замовчуванням
$neutral60Color: #a8a8a8; // Колір шрифту за замовчуванням
$neutral70Color: #7c7c7c; // Колір шрифту за замовчуванням
$neutral80Color: #515151; // Колір шрифту за замовчуванням
$neutral90Color: #252525; // Колір шрифту за замовчуванням
$neutral100Color: #1c1c1c; // Колір шрифту за замовчуванням

// Основні кольори Error
$error20Color: #fff0ee; // Колір шрифту за замовчуванням
$error40Color: #ffe0dc; // Колір шрифту за замовчуванням
$error60Color: #ffc1b9; // Колір шрифту за замовчуванням
$error80Color: #ff6550; // Колір шрифту за замовчуванням
$error100Color: #ff6550; // Колір шрифту за замовчуванням

// Основні кольори Warning
$warning20Color: #fffaf0; // Колір шрифту за замовчуванням
$warning40Color: #fff4df; // Колір шрифту за замовчуванням
$warning60Color: #ffdda0; // Колір шрифту за замовчуванням
$warning80Color: #ffdda0; // Колір шрифту за замовчуванням
$warning100Color: #ffc761; // Колір шрифту за замовчуванням

// Основні кольори Info
$info20Color: #eaf6ff; // Колір шрифту за замовчуванням
$info40Color: #d4edff; // Колір шрифту за замовчуванням
$info60Color: #a8dbff; // Колір шрифту за замовчуванням
$info80Color: #7dc8ff; // Колір шрифту за замовчуванням
$info100Color: #26a4ff; // Колір шрифту за замовчуванням

// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1280;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: toEm($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: toEm(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: toEm(767.98); // Телефони L
$mobileSmall: toEm(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	// scrollbar-gutter: stable;
	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	.loaded & {
	}
}
// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.background {
	&--natural-20 {
		background-color: $neutral20Color;
	}
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================
// (i) Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt
@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: toRem(970);
		}
		@media (max-width: $tablet) {
			max-width: toRem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}
// ========================================================================================================================================================
// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";
// $=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=->
// Підключення стилів загальних елементів проекту
@import "common";
// $=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=->
// Підключення стилів окремих блоків
@import "header";
@import "footer";
// $=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=->
// Підключення стилів окремих сторінок
@import "learner";
@import "landings";
// ========================================================================================================================================================
